*{margin: 0px; padding: 0px}

body{font-family: 'DM Sans', sans-serif;
color: white}
header{background-color: black;}


header a img{margin: 20px 20px; padding: 10px 80px;}



nav{float: right}

nav a{display:inline-block;
      text-decoration: none;
      color: white;
      padding: 20px 5px;
      margin-top:  50px;
      margin-right: 40px;    
      
}

nav a:hover{color:#f5cb5b}


.banner{
    background-image: url(img/fondo.jpg);
    padding: 150px 0px;
    width: 100%;
    height: 300px;
    
       
}

.banner article{ text-align: center;
                 padding-bottom: 50px;
                 width: 1200px;
                 margin:0px auto 250px auto;
                          
    
}
.banner h2{;font-size: 40px; border: 1.5px solid #f5cb5b 
}

.banner p{font-size: 30px;
}

.banner span{color: #f5cb5b;font-family: 'Ramabhadra', sans-serif}

.boton{display:inline-block;
      background-color:#f60156;
      color: white;
      text-decoration: none;
      font-size: 15px;
      padding: 15px 30px;
      margin-top: 30px;
      border-radius: 40px;
      font-weight: bold;
      transition: 0.3s color, 0.5s background-color;
      
}

.boton:hover{background-color: rgba(0,0,0,0.5)}
 
.aboutus h1{color:#f5cb5b;
text-align: center;
font-family: 'Ramabhadra', sans-serif;
padding: 30px;
margin: 20px 0px;
font-size: 60px;
background: black;


}


.contenedor{
    width: 1280px;
    margin: auto;
    color: black;
    overflow: auto
    
       
}

.contenedor div{width: 50%;
float: left;
font-family: 'Ramabhadra', sans-serif;

}

.contenedor h3,p,a{padding-left: 15px}

h3{font-size: 35px;
  padding-bottom: 30px;
  color: #92918d ;
  
}

.seccion{background-color: rgba(0,0,0,0.1);   
margin-top: 105px;
}


.contenedor a{text-decoration: none;
display: inline-block;
background-color: white;
color: black;
border-radius: 40px;
padding:5px 15px;
margin-left: 300px;
transition: 0.2s color, 0.5s background-color;
border: 1px solid black
}

.contenedor a:hover{background-color: rgba(0,0,0,0.6);
color: white}





.contenedordos{width:1280px;
margin: auto;
overflow: auto;
color: black;
padding-top: 30px;
padding-bottom: 30px
 

}



.contenedordos article{
    width: 600px;
    float: left;
    padding: 20px 30px 20px 10px;
    font-size: 15px
    
    }

.contenedordos img{width: 200px; height: 200px; float: left; margin-right: 15px; border-radius: 50%}

.contenedordos h4{
    font-family: 'Ramabhadra', sans-serif;
}

.contenedordos a{
    display: inline-block;
    text-decoration: none;
    background-color:#f5cb5b; 
    padding: 15px 20px;
    text-align: left;
    color: black;
    border-radius: 30px;
    transition: 0.2s color, 0.3s background-color ;
    margin-top: 10px        
}

.contenedordos a:hover{background-color: rgba(0,0,0, 0.2);
}
.logo {
    width: 130px;
}

.info{
    width: 1280px;
    margin: auto;
    color: black;
    margin-top: 80px;
    overflow: auto;
    margin-bottom: 100px}

.cajitas img{width:100px; 
             height: 100px;
            padding-top: 10px}

.cajitas article{
    width: 228px;
    border: 2px solid black;
    text-align: center;
    float: left;
    margin-right: 12px;
    border-radius: 30px
}

.cajitas p{padding: 40px 20px;
           font-size: 15px}

.grande{width: 300px; 
        float: left 
}

.grande  ul{overflow: auto;  padding-left: 20px}
           
.grande article{overflow: auto;
               padding-bottom: 45px}


.grande img{width: 70px; height: 70px;
           float: left; 
           border-radius: 80%; 
           margin-right: 20px
}

.grande p{font-size: 18px}

.grande span{font-size: 15px; font-style: italic}


.gallery {
    width: 100%;
    margin: 200px auto; 
}

.large{width: 100%; height: auto;
 }

.foto{width: 50%;float: left}

.bigger{height: auto}

.title{font-size: 80px;
      background-color: #f5cb5b; 
      color: white;
      padding: 90px ;
      text-align: center;}

.tpsd{width: 1220px;
margin: auto;
overflow:auto
}

.video{border: none;
width:30%;height: 250px; float:left; margin-right: 3.3%; margin-bottom: 3%; overflow: auto  }

footer{background-color: black; color: white; padding: 40px; text-align: center; font-size: 14px;}


footer span{font-size: 20px; padding-top: 30px}

footer img{width:20px;height: 20px;margin-top: 10px}



.inscripcion{color: black;
width: 1200px;
padding:40px;
margin: 0 auto;
overflow: auto;
}

form div{width:30%;
float: left;
}
.inscripcion h1{margin-bottom: 30px; font-size: 40px; border-left: 4px solid black; padding-left: 10px}

fieldset{border: none;
margin-bottom: 5px}

legend{font-size: 19px;
font-weight: bold;
color: #92918d;
margin-bottom: 15px}

label{display: inline-block;
}

.datos label{width: 80px; margin-bottom: 10px}

.dance label{ margin-right: 35px}

.datos input{width: 200px;
padding: 5px;
border: none;
border-left: 3px solid #f60156 ;
background-color: rgba(0,0,0, 0.1) ;
border-radius: 0px;

 }
 
 .datos input:hover{background-color: rgba(0,0,0, 0.2) }
 
 .datos input:focus{outline: none;
 background-color: pink;
}

::placeholder{font-family: 'DM Sans', sans-serif;}

.datos{margin-bottom: 0px}
select{width: 200px; padding: 15px; background-color: rgba(0,0,0, 0.1); border: none; }

textarea{resize: none;
display: block;
width: 100%;
border: none;
background-color: rgba(0,0,0, 0.1);
padding: 10px;
height: 40px
}

textarea:focus{outline: none;
      background: pink; border: none;}

button{float: right;
border: none;
padding: 8px 15px;
background-color: pink;
border-radius: 10px;
font-weight: bold;
border-bottom: 3px solid #ff1969;
cursor: pointer;}

button:hover{background-color: #f60156}


.map{width: 35%; height:500px; border: none; float: right;   }

.cursos{background-color:#f5cb5b;
width: 100%; color: black; overflow: auto; padding-bottom: 50px; padding-top: 25px}

.caja{width: 1280px; margin: auto}


.caja div{width: 50%; float: left}

.caja article{overflow:auto; margin-bottom:20px; border-bottom: 4px solid white; padding-right: 20px;}

.cursos div img{width: 130px; height:100px; float: left; border: none; margin-right: 10px;}

.caja span{font-style: italic; font-weight: normal; font-size: 15px}

.caja h2{font-size: 35px; padding: 5px;text-align: center; border-left: 4px solid white; border-bottom:4px solid white; margin: 15px auto; color: black}

table{margin: auto; border-spacing: 10px; margin-top: 20px}
table caption{font-size: 25px; font-weight: bold; background-color: white; margin-bottom: 20px; padding: 20px}
                  
th{background-color: white; padding: 20px}

td{background-color: #ff649b; padding: 20px; text-align: center; font-weight: bold}



b{font-weight: bold}

.location{padding-bottom: 12px}

.championships{padding-bottom: 20px}

































